:root {
  --main-color: #212121;
  --highlight-color: #2196f3;
  --aux-text-color: #757575;
  --background-color: #2f303a;
  --hero-footer-text-color: #fff;
  --filter-button-background-color: #f5f4fa;
  --order-button-hover-focus: #188ce8;
  --advantages-icon-background-color: #f5f4fa;
  --icon-client-social: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link, .social-icons-list__link, .social-icons-list__link--footer, .logo, .navigation-list__link, .header__contacts-link, .credential-list__link, .address-list__link--location, .address-list__link--mail,
.address-list__link--tel {
  text-decoration: none;
  color: inherit;
}

.button, .filter-div-list__button, .subscribe-div__btn {
  cursor: pointer;
}

.list, .social-icons-list, .container--header,
.navigation-list,
.header__contacts-list, .filter-div-list, .credentials-list, .address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.heading, .section-title, .filter-div__title, .credential-item-title {
  margin: 0;
}

.section {
  padding: 94px 0;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button, .filter-div-list__button, .subscribe-div__btn {
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link, .social-icons-list__link, .social-icons-list__link--footer, .logo, .navigation-list__link, .header__contacts-link, .credential-list__link, .address-list__link--location, .address-list__link--mail,
.address-list__link--tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-div__title, .subscribe-div__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: var(--advantages-icon-background-color);
  text-transform: uppercase;
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 44px;
  column-gap: 10px;
}

.social-icons-list__link, .social-icons-list__link--footer {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-icons-list__link:hover, .social-icons-list__link--footer:hover, .social-icons-list__link:focus, .social-icons-list__link--footer:focus, .social-icons-list__link:active, .social-icons-list__link--footer:active {
  background-color: #188ce8;
}

.social-icon, .social-icon--footer {
  width: 22px;
  height: 22px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-icons-list__link:hover .social-icon, .social-icons-list__link--footer:hover .social-icon, .social-icons-list__link:hover .social-icon--footer, .social-icons-list__link--footer:hover .social-icon--footer {
  fill: var(--advantages-icon-background-color);
}

.social-icons-list__link:focus .social-icon, .social-icons-list__link--footer:focus .social-icon, .social-icons-list__link:focus .social-icon--footer, .social-icons-list__link--footer:focus .social-icon--footer {
  fill: var(--advantages-icon-background-color);
}

.social-icons-list__link:active .social-icon, .social-icons-list__link--footer:active .social-icon, .social-icons-list__link:active .social-icon--footer, .social-icons-list__link--footer:active .social-icon--footer {
  fill: var(--advantages-icon-background-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--highlight-color);
}

.header .logo__span {
  color: var(--main-color);
}

.footer .logo__span {
  color: var(--hero-footer-text-color);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.logo--header {
  padding: 0;
}

.navigation {
  margin-left: 93px;
}

.container--header,
.navigation-list,
.header__contacts-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.navigation-list__link {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.navigation-list__link:hover, .navigation-list__link:focus, .navigation-list__link:active {
  color: var(--highlight-color);
}

.navigation-list__link.current {
  color: var(--highlight-color);
}

.navigation-list__link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
}

.header__contacts-list {
  margin-left: auto;
  column-gap: 50px;
  color: var(--aux-text-color);
}

.navigation-list {
  column-gap: 50px;
}

.header__contacts-link {
  display: flex;
  align-items: center;
}

.header__contacts-link:hover, .header__contacts-link:focus, .header__contacts-link:active {
  color: var(--highlight-color);
  opacity: 1;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--aux-text-color);
}

.header__contacts-link:hover .contact-icon {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.header__contacts-link:focus .contact-icon {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.header__contacts-link:active .contact-icon {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.filter-div {
  margin-bottom: 50px;
}

.filter-div__title {
  display: none;
}

.filter-div-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.filter-div-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  background-color: var(--filter-button-background-color);
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid var(--filter-button-background-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-div-list__button:hover, .filter-div-list__button:focus, .filter-div-list__button:active {
  background-color: var(--highlight-color);
  color: var(--hero-footer-text-color);
  border: 1px solid var(--highlight-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* credentials */
.credentials-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.credential-list__link {
  display: block;
}

.credential-list__link:hover, .credential-list__link:focus, .credential-list__link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.credential-overlay {
  position: relative;
  overflow: hidden;
}

.credential-overlay__text {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin-top: 0;
  background-color: var(--highlight-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--advantages-icon-background-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.credential-list__link:hover .credential-overlay__text {
  transform: translateY(0);
}

.credential-list__link:focus .credential-overlay__text {
  transform: translateY(0);
}

.credential-list__link:active .credential-overlay__text {
  transform: translateY(0);
}

.credential-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.credential-item-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--aux-text-color);
  margin: 0;
}

.credential-item-text {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.logo--footer {
  margin-bottom: 20px;
}

.address-list__link--location {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--hero-footer-text-color);
  margin-bottom: 10px;
}

.address-list__link {
  margin-bottom: 10px;
}

.address-list__link:last-child {
  margin-bottom: 0;
}

.address-list__link--mail,
.address-list__link--tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-footer-text-color);
  opacity: 0.6;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link--mail:hover,
.address-list__link--tel:hover {
  color: var(--highlight-color);
  opacity: 0.6;
}

.join-div {
  margin-left: 70px;
}

.social-icons-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon--footer {
  fill: #fff;
}

.subscribe-div {
  margin-left: 93px;
}

.subscribe-div__wrapper {
  display: flex;
}

.subscribe-div__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--advantages-icon-background-color);
  cursor: pointer;
}

.subscribe-div__input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.subscribe-div__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-div__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--highlight-color);
  color: var(--hero-footer-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-div__btn:hover, .subscribe-div__btn:focus, .subscribe-div__btn:active {
  background-color: var(--order-button-hover-focus);
  border-radius: 4px;
  border: 1px solid var(--highlight-color);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--advantages-icon-background-color);
}
/*# sourceMappingURL=portfolio.css.map */