.order-section {
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(/img/main-page/mobile-480px/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-section__title {
    display: inline-block;
    max-width: 360px;
    margin: 0 0 30px 0;
    @include font(26px, 900, 162%, 00.06em);
    text-transform: uppercase;
    text-align: center;
    color: var(--hero-footer-text-color);
}

@media screen and (min-width: 480px) {
    .order-section {
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/img/main-page/tablet-768px/hero-img-768.jpg);
    }
}

@media screen and (min-width: 1200px) {
    
.order-section {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(/img/main-page/desctop-1200px/hero-img.jpg);
    background-size: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
}

.order-section__title {
    font-size: 44px;
    line-height: 1.36;
    color: var(--hero-footer-text-color);
    max-width: 696px;
}

}